

    

html {
    scroll-behavior: smooth;
  }
body
    *
    *:before,
    *:after
    {
    width: 100%;
    box-sizing: border-box;
    
    }

header
{
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    padding: 15px 0;
    z-index: 100;
}
.menu_image
{
display: none;
}
.menu
{

margin-right: 30px;
margin-top: 15px;
}
.Menu_A
{
padding: 3px;
letter-spacing: 2px;
font-size: 20px;
color: #ffffff;
text-decoration: none;
font-family: 'Comfortaa', cursive;
}

.Logo
{
margin-left: 30px;
letter-spacing: 5px;
color: rgb(255, 0, 0);
font-family: 'Rubik Glitch', cursive;
}
   .wrapper
   {

    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
   }

    .wrapper_intro
    {
        display: flex;
        flex-direction: row-reverse;
        
        background: 
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),  url("..//intro_page.jpg") no-repeat center;
            
    
    
    width: 100%;
    height: 100vh;
    }
    .right_menuintro
    {
    margin-right: 200px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
    }
    .tg_info
    {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff;
    width: 100%;
    }
    .tg_img
    {
    
    padding-top: 10px;
    margin: 0 auto;
    border-radius: 50px;
    width: 150px;
    }
    .Join
    {
    
    font-family: 'Comfortaa', cursive;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    width: 200px;
    height: 60px;
    
    }
    a
    {
    text-decoration: none;
    }
    .Blood2
    {
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Rubik Glitch', cursive;
    }
 .Par_1
    {
    white-space: pre-line;
    word-wrap: break-word; 
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Comfortaa', cursive;
    }
.Abotus
    {
    width: 100%;
    align-items: center;
    height: 50vh;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    }
.abouttitle
    {
    color: rgb(255, 255, 255);
    font-family: 'Arimo', sans-serif;
    font-size: 70px;
    }
.textab
    {
    font-size: 20px;
    margin-top: 20px;
    color: #ffffff;
    font-family: 'Comfortaa', cursive;
    }
.IconText
    {
    font-family: 'Comfortaa', cursive;
    color: rgb(255, 255, 255);
    }
 .icon
    {
    width: 60px;
    filter: invert();
    }
.icons
{
padding:  0 30px;
margin-top: 70px;

align-items: center;
display: flex;
text-align: center;
flex-direction: column;
}
.iconci
{
text-align: center;
justify-content: space-between;
display: flex;
}   
.OurProjects
{
margin: 0 auto;
width: 1200px;
height: 100vh;
}
.Otziv
{
height: 100%;
      font-size: 15px;
    }
.swiper{
      width: 300px;
      height: 100%;
    }
.swiper-slide{
      text-align: center;
      font-size: 18px;
      background-color: aliceblue;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 100%;
      height: 500px;
    }
.swiper-button-next, .swiper-rtl .swiper-button-prev{
      right: 140px !important; 
      left: auto;
    }
.swiper-button-prev, .swiper-rtl .swiper-button-next{
      left: 140px !important; 
      right: auto;
    }
    .tg_infor
    {
        justify-content: center;
        margin-bottom: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background-color: #ffffff;
        
    }
    .More
    {
        font-family: 'Comfortaa', cursive;
        background-color: aqua;
        border: none;
        border-radius: 20px;
        margin: 0 auto;
        width: 200px;
        height: 60px;
    }

    .swiper 
    {
    margin-top: 30px;
    }

    .OrP
    {
        width: 100%;
        height: 50vh;
        background-color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .swiper-wrapper
    {
    overflow: visible;
    background-color: black;
    width: 100%;
    }
    .line {
        border-bottom: 1px solid rgb(255, 255, 255); /* Параметры линии */
       }
.shop
{
font-size: 30px;
font-family: 'Comfortaa', cursive;
}
.swiper-slide
{
overflow: visible;
background-color: black;
}

.wrapper_orproj
{
    margin-top: 300px;
    width: 100%;
    justify-content: center;
    background-color: black;
    text-align: center;
    display: flex
}
.OurProjects
{
width: 100%;
background: black   ;
}
.op
{
justify-content: center;
display: flex;
}
.op_info
    {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0 50px;
        border-radius: 20px;
        background-color: #ffffff;
        width: 33%;
        height: 400px;
    }
footer
{
    width: 100%;
    background: #ffffff;
    height: 25vh;
}
.footer_wrapper
{
justify-content: center;
display: flex;

}
.titlefot
{

margin: 25px 30px;
font-family: 'Comfortaa', cursive;
}
.contact_text
{

font-family: 'Comfortaa', cursive;
}
.Contact_menu
{
margin-right: 50px;
display: flex;
flex-direction: column;
text-align: center;
}

.contact_text
{

font-family: 'Comfortaa', cursive;
}
.Navigation_Menu
{
display: flex;
flex-direction: column;
text-align: center;
}
@media screen and (max-width: 576px) {
.menu
{
display: none;
}
.menu_image
{
display: block;
width: 80px;
height: 80px;
}
.menu_img 
{
width: 100%;
height: auto;
}
.iconci
    {
    height: auto;
    display: flex;
    flex-direction: column;
    }
.Abotus
{
height: auto
}
.OurProjects
{
flex-direction: row;
display: flex;
height: auto;
}
.op
{
display: unset;
}
.wrapper_orproj
{
justify-content: center;
}
.op_info
{
width: auto;
}
}